#nav-bar {
    width:100vw;
    height:4em;
    background-color: var(--transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    height: 1.5em;
    position:relative;
    left:1em;
}

#hamburger {
    height:2em;
    position: relative;
    padding-right:1.5em;
    filter: var(--svg-color);
}

#theme-icon {
    height: 2em;
    position:relative;
    padding-right:1.5em;
}

#icon-menu-container {
    width:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}